
@{
    Layout = null;
}
@model PROG123.Models.PersonModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form asp-action="Page2" method="post">
        <label>First Name</label> <input asp-for="FName" />
        <br />
        <label>Last Name</label> <input asp-for="LName" />
        <br />
        <label>Email</label> <input asp-for="Email" />
        <br />
        <label>Phone</label> <input asp-for="Phone" />
        <br />
        <label>Address</label> <input asp-for="Address" />
        <br />
        <label>User Name</label> <input asp-for="UserName" />
        <br />
        <label>Password</label> <input asp-for="Password" />
        <button type="submit">submit</button>
        <br />
    </form>
    
</body>
</html>
