
@{
    ViewData["Title"] = "EnterNewProduct";
    Layout = "~/Views/Shared/_BlakeLayout.cshtml";
}
@model PROG123.Models.ProductModel


<h1>EnterNewProduct</h1>
<form asp-action="AddProductToDB" method="post">
    <div class="inputwrap">
        <label>Name:</label>
        <input asp-for="Name" required class="roundCorners" />
    </div>
    <div class="inputwrap">
        <label>Description: </label>
        <input asp-for="Description" required class="roundCorners" />
    </div>
    <div class="inputwrap">
        <label>Price: </label>
        <input asp-for="Price" required class="roundCorners" />
    </div>
    <div class="inputwrap">
        <label>Inventory:</label>
        <input asp-for="InventoryAmount" required class="roundCorners" />
    </div>
    <div class="inputwrap">
        <label><button type="submit">submit</button></label>
    </div>
</form>